# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

In [2]:
url1 = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv'
url2 = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv'

   ### Step 3. Assign each to a variable called cars1 and cars2

In [4]:
cars1 = pd.read_csv(url1, sep = ',')
cars2 = pd.read_csv(url2, sep = ',')

In [5]:
cars1.sample()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
105,13.0,8,360,170,4654,13.0,73,1,plymouth custom suburb,NaN,NaN,NaN,NaN,NaN

In [6]:
cars2.sample()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [9]:
cars1 = cars1.loc[:, 'mpg':'car']
cars1.sample()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
125,20.0,6,198,95,3102,16.5,74,1,plymouth duster

### Step 5. What is the number of observations in each dataset?

In [11]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [12]:
cars = cars1.append(cars2)
cars.sample()

/var/folders/6x/kctcvd8x6l18t57t92kmqy6w0000gn/T/ipykernel_91191/1359429257.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cars = cars1.append(cars2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
93,19.2,8,267,125,3605,15.0,79,1,chevrolet malibu classic (sw)

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [14]:
owners = np.random.randint(15000, high=73001, size=398, dtype='l')
owners

array([15327, 39049, 63954, 16691, 67116, 50603, 15758, 47874, 32120,
       16770, 34080, 20162, 32902, 49602, 72201, 68191, 17532, 42764,
       19443, 19515, 16425, 37145, 33178, 54963, 32680, 65850, 55952,
       62464, 28908, 28021, 26504, 29688, 16426, 35115, 56712, 21778,
       26986, 72919, 31120, 44316, 64514, 28527, 71334, 43872, 52378,
       45696, 49895, 38800, 20929, 22760, 26329, 39888, 49388, 18549,
       61291, 29401, 66987, 64214, 71954, 23616, 68371, 50460, 55872,
       44058, 31994, 51490, 55379, 68125, 67869, 51175, 72565, 26897,
       52925, 46511, 68121, 64121, 57269, 16931, 42057, 60985, 50203,
       28047, 51568, 52058, 15496, 45765, 56310, 15750, 64935, 31271,
       23377, 49187, 60906, 53983, 46867, 25878, 67323, 52227, 72975,
       45195, 62380, 28029, 23750, 58104, 69707, 33315, 49076, 23348,
       37654, 31596, 71509, 42869, 55493, 33065, 21271, 39480, 15653,
       16621, 71270, 54389, 16323, 64489, 46092, 50997, 36504, 65642,
       15781, 62382, 71197, 19663, 50156, 15274, 29568, 32069, 38114,
       27747, 19416, 72629, 67064, 19197, 32933, 60732, 71379, 54324,
       43436, 20718, 63442, 28969, 32971, 46763, 46714, 46773, 45286,
       25091, 33340, 35327, 60559, 54078, 59232, 48568, 65355, 26954,
       64240, 41468, 31395, 27028, 17160, 39199, 53138, 34321, 62445,
       30744, 63838, 66068, 49484, 58327, 27339, 39822, 34524, 43739,
       28554, 53502, 47372, 15489, 34173, 49207, 49576, 34958, 32638,
       27865, 36641, 17559, 44414, 54901, 71147, 60931, 70833, 25336,
       70179, 49753, 55122, 20067, 39478, 69399, 49078, 57073, 45584,
       43348, 41764, 64203, 26137, 38092, 63403, 23324, 41901, 39447,
       62482, 44372, 43075, 15194, 46159, 27011, 27212, 59874, 48936,
       34579, 20085, 65333, 29000, 55456, 27833, 56816, 33730, 53644,
       37992, 67455, 57235, 47515, 49930, 17241, 52661, 46039, 50276,
       16601, 25847, 33715, 16611, 60014, 32622, 16620, 39971, 69384,
       70015, 71871, 18352, 51460, 54750, 25624, 35185, 34079, 43617,
       66420, 33410, 32332, 63670, 20941, 40843, 56492, 25977, 54381,
       52857, 32938, 60399, 55961, 34199, 19981, 38218, 31469, 68787,
       71010, 58485, 16604, 37495, 59712, 46917, 27664, 70679, 70210,
       22721, 20657, 40979, 49166, 39063, 52631, 28311, 71786, 22968,
       25061, 20527, 45866, 31882, 20719, 17547, 54668, 46894, 45803,
       39667, 58719, 63637, 35203, 58743, 25071, 42600, 61444, 31013,
       26171, 39603, 47027, 57868, 72820, 63007, 70495, 57239, 47857,
       64858, 28204, 57393, 33501, 39866, 18123, 60062, 55608, 53372,
       32448, 71709, 50937, 42862, 31001, 19605, 18330, 55737, 49550,
       57720, 47730, 70574, 71925, 51310, 39205, 19096, 18863, 28740,
       23226, 60548, 43321, 15053, 18816, 42459, 67167, 64102, 27270,
       69660, 71410, 37924, 47556, 46784, 55035, 70922, 35042, 20778,
       29330, 27013, 37470, 30542, 49936, 58643, 58665, 44335, 70584,
       33102, 55028, 22817, 52134, 61236, 16207, 43917, 49703, 31244,
       42913, 59889, 16320, 46443, 16987, 23709, 29816, 36416, 23051,
       29734, 21478])

### Step 8. Add the column owners to cars

In [15]:
cars['owners'] = owners
cars.sample()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
28,20.5,6,231,105,3425,16.9,77,1,buick skylark,20085